__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
env/
*.egg-info/
.pytest_cache/
.mypy_cache/
# .envファイルはGit管理する
# *.local は除外するが、.env.localは管理する
*.local
!.env.local
firebase-debug.log
firebase-debug.*.log

